annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
anyio==4.7.0 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.11"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
astroid==3.3.6 ; python_version >= "3.10" and python_version < "3.11"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
async-lru==2.0.4 ; python_version >= "3.10" and python_version < "3.11"
attrs==24.3.0 ; python_version >= "3.10" and python_version < "3.11"
autoflake==2.3.1 ; python_version >= "3.10" and python_version < "3.11"
babel==2.16.0 ; python_version >= "3.10" and python_version < "3.11"
backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "3.11"
black==24.10.0 ; python_version >= "3.10" and python_version < "3.11"
bleach==6.2.0 ; python_version >= "3.10" and python_version < "3.11"
blinker==1.9.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.12.14 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "3.11"
click-log==0.4.0 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
comm==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
coverage==7.6.9 ; python_version >= "3.10" and python_version < "3.11"
coverage[toml]==7.6.9 ; python_version >= "3.10" and python_version < "3.11"
cryptography==44.0.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
dash-bootstrap-components==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
dash-core-components==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
dash-html-components==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
dash-table==5.0.0 ; python_version >= "3.10" and python_version < "3.11"
dash==2.18.2 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.8.11 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.11"
dill==0.3.9 ; python_version >= "3.10" and python_version < "3.11"
docutils==0.21.2 ; python_version >= "3.10" and python_version < "3.11"
dotty-dict==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
executing==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.115.6 ; python_version >= "3.10" and python_version < "3.11"
fastjsonschema==2.21.1 ; python_version >= "3.10" and python_version < "3.11"
flake8==7.1.1 ; python_version >= "3.10" and python_version < "3.11"
flask==3.0.3 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.55.3 ; python_version >= "3.10" and python_version < "3.11"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
frozendict==2.4.6 ; python_version >= "3.10" and python_version < "3.11"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "3.11"
gitpython==3.1.43 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==23.0.0 ; python_version >= "3.10" and python_version < "3.11"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
html5lib==1.1 ; python_version >= "3.10" and python_version < "3.11"
httpcore==1.0.7 ; python_version >= "3.10" and python_version < "3.11"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.11"
idna==3.10 ; python_version >= "3.10" and python_version < "3.11"
importlib-metadata==8.5.0 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
invoke==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
ipykernel==6.29.5 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.30.0 ; python_version >= "3.10" and python_version < "3.11"
ipywidgets==8.1.5 ; python_version >= "3.10" and python_version < "3.11"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "3.11"
isort==5.13.2 ; python_version >= "3.10" and python_version < "3.11"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "3.11"
jaraco-context==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
jaraco-functools==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "3.11"
jeepney==0.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.11"
json5==0.10.0 ; python_version >= "3.10" and python_version < "3.11"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "3.11"
jsonschema[format-nongpl]==4.23.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-client==8.6.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-console==6.6.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-core==5.7.2 ; python_version >= "3.10" and python_version < "3.11"
jupyter-events==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-lsp==2.2.5 ; python_version >= "3.10" and python_version < "3.11"
jupyter-server-terminals==0.5.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-server==2.14.2 ; python_version >= "3.10" and python_version < "3.11"
jupyter==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-server==2.27.3 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-widgets==3.0.13 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab==4.3.3 ; python_version >= "3.10" and python_version < "3.11"
keyring==25.5.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.7 ; python_version >= "3.10" and python_version < "3.11"
lxml==5.3.0 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==10.5.0 ; python_version >= "3.10" and python_version < "3.11"
multitasking==0.0.11 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
mypy==1.13.0 ; python_version >= "3.10" and python_version < "3.11"
nbclient==0.10.1 ; python_version >= "3.10" and python_version < "3.11"
nbconvert==7.16.4 ; python_version >= "3.10" and python_version < "3.11"
nbformat==5.10.4 ; python_version >= "3.10" and python_version < "3.11"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
nh3==0.2.20 ; python_version >= "3.10" and python_version < "3.11"
notebook-shim==0.2.4 ; python_version >= "3.10" and python_version < "3.11"
notebook==7.3.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.11"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.11"
pandas-stubs==2.2.3.241126 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.4 ; python_version >= "3.10" and python_version < "3.11"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
peewee==3.17.8 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.0.0 ; python_version >= "3.10" and python_version < "3.11"
pkginfo==1.12.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==4.3.6 ; python_version >= "3.10" and python_version < "3.11"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
prometheus-client==0.21.1 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.48 ; python_version >= "3.10" and python_version < "3.11"
psutil==6.1.0 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform != "win32" and sys_platform != "emscripten" or os_name != "nt")
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "3.11"
pyarrow==18.1.0 ; python_version >= "3.10" and python_version < "3.11"
pycodestyle==2.12.1 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.11"
pydantic-core==2.27.1 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.10.3 ; python_version >= "3.10" and python_version < "3.11"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.11"
pylint==3.3.2 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
pytest-cov==6.0.0 ; python_version >= "3.10" and python_version < "3.11"
pytest==8.3.4 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
python-gitlab==3.15.0 ; python_version >= "3.10" and python_version < "3.11"
python-json-logger==3.2.1 ; python_version >= "3.10" and python_version < "3.11"
python-multipart==0.0.19 ; python_version >= "3.10" and python_version < "3.11"
python-semantic-release==7.34.6 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.11"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.11"
pywinpty==2.0.14 ; python_version >= "3.10" and python_version < "3.11" and os_name == "nt"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.11"
pyzmq==26.2.0 ; python_version >= "3.10" and python_version < "3.11"
readme-renderer==44.0 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.35.1 ; python_version >= "3.10" and python_version < "3.11"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.11"
retrying==1.3.4 ; python_version >= "3.10" and python_version < "3.11"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "3.11"
rfc3986==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.22.3 ; python_version >= "3.10" and python_version < "3.11"
ruff==0.7.4 ; python_version >= "3.10" and python_version < "3.11"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "linux"
semver==2.13.0 ; python_version >= "3.10" and python_version < "3.11"
send2trash==1.8.3 ; python_version >= "3.10" and python_version < "3.11"
setuptools==75.6.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.11"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.11"
starlette==0.41.3 ; python_version >= "3.10" and python_version < "3.11"
tenacity==9.0.0 ; python_version >= "3.10" and python_version < "3.11"
terminado==0.18.1 ; python_version >= "3.10" and python_version < "3.11"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
tomli-w==1.1.0 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4.2 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "3.11"
twine==3.8.0 ; python_version >= "3.10" and python_version < "3.11"
types-python-dateutil==2.9.0.20241206 ; python_version >= "3.10" and python_version < "3.11"
types-pytz==2024.2.0.20241003 ; python_version >= "3.10" and python_version < "3.11"
types-requests==2.32.0.20241016 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.2 ; python_version >= "3.10" and python_version < "3.11"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
uvicorn==0.34.0 ; python_version >= "3.10" and python_version < "3.11"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "3.11"
webcolors==24.11.1 ; python_version >= "3.10" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "3.11"
werkzeug==3.0.6 ; python_version >= "3.10" and python_version < "3.11"
wheel==0.45.1 ; python_version >= "3.10" and python_version < "3.11"
widgetsnbextension==4.0.13 ; python_version >= "3.10" and python_version < "3.11"
yfinance==0.2.50 ; python_version >= "3.10" and python_version < "3.11"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.11"
